#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    height: 80px;
    width: 100%;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

#sideheader {
    text-align: center;
}

#testform {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: darkblue;
    border: 7px solid black;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

#testform input[type="submit"]{
    font-size: 20px;
    padding: 5px;
    width: 10%;
    background-color: black;
    color: white;
    border: #111111;
    border-radius: 5px;
}

#testform input[type="text"],
#testform input[type="age"],
#testform input[type="email"] {
    font-size: 20px;
    padding: 2px;
    width: 20%;
}
