.thankyou {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: black 2px solid;
    background-color: darkgray;
}

.footer {
    background-color: darkgray;
    color: black;
    text-align: center;
    border: 2px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    margin: 0 10px;
    position: relative;
}

.footer span:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px; /* Half of the margin value */
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 1em;
    background-color: black; /* Adjust the color as needed */
}

#back a {
    text-decoration: none; /* Remove the underline */
    color: black; /* Change the color of the link text */
}

#back a:hover {
    color: darkblue; /* Change the color on hover */
}